################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Demo.Archivero.Backend.Api/bin/Debug/net10.0
/src/Demo.Archivero.Backend.Api/obj
/src/Demo.Archivero.Application/bin/Debug/net10.0
/src/Demo.Archivero.Application/obj
/src/Demo.Archivero.Domain/obj
/src/Demo.Archivero.Infrastructure.AzureBlob/obj
/src/Demo.Archivero.Infrastructure.OpenXml/obj
/src/Demo.Archivero.Infrastructure.SqlRepository/bin/Debug/net10.0
/src/Demo.Archivero.Infrastructure.SqlRepository/obj
/src/Demo.Archivero.UnitTests/bin/Debug/net10.0
/src/Demo.Archivero.UnitTests/obj
/src/Demo.Archivero.Converter.Worker/obj
/src/Demo.Archivero.Frontend.Spa/bin/Debug/net10.0
/src/Demo.Archivero.Frontend.Spa/obj
/src/Demo.Archivero.Domain/bin
/src/Demo.Archivero.Infrastructure.AzureBlob/bin/Debug/net10.0
/src/Demo.Archivero.Infrastructure.OpenXml/bin/Debug/net10.0
/src/Demo.Archivero.Converter.Worker/bin/Debug/net10.0
/src/Demo.Archivero.Converter.Client/bin/Debug/net10.0
/src/Demo.Archivero.Converter.Client/obj
/src/Demo.Archivero.Infrastructure.ServiceBus/bin
/src/Demo.Archivero.Infrastructure.ServiceBus/obj
